/*--------- CSS RESET ---------*/

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 70%;
    max-width: 620px;
    margin: auto; 
    background-color: #fafafa;
    color:#333;
    font-family: 'Literata', serif;
    font-family: 'Muli', sans-serif;
}

h1, h2, h3 {
    
font-weight: normal;
color: #A3B2BD;
text-align: center;
font-family:'Montserrat', sans-serif
}

p {font-family:'Montserrat', sans-serif;
    font-family: 'Literata', serif;
    
}

p, blockquote {
    margin-bottom:1.5em;
    line-height: 1.4;
}
    
h1 {font-size: 2.827em;
    margin-top: 1.9em;
    margin-bottom: 0.1em;
    color: #272E41;
    letter-spacing: -0.03em
}

h2 {font-size: 1.999em;
margin: 1em 0 1em 0;}

h3 {font-size: 1.414em;
margin-bottom: 1.5em;}

blockquote {
    font-size: 1.414em;
    hanging-punctuation: first;
    text-indent: -0.42em;
    color: #A3B2BD;
    font-family:'Montserrat', sans-serif;
}

cite {
    font-size: 0.9em;
     color: #A3B2BD;
    font-family:'Montserrat', sans-serif;
}

/*------LINK STYLE------*/

a{
    color: #A3B2BD;
    text-decoration: none;
}

a:hover {
    color:dimgrey;
    border-bottom: 1px dotted;
}

/*-----NAVIGATION----*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #E7EEF4;
    padding: 1em 0;
    font-size: 0.75em;
    opacity: 100%;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0.05px 2px 0.1px;
    opacity: 95%;
}

/*------UL-NAV------*/

nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 17px;
}

nav a {
    color: #272E41;
}

nav a:visited {
    color: #272E41;
}

nav a:hover {
    border-bottom: none;
    color:darkgrey;
}


/*------------- FOOTER -------------*/

footer {
    text-align: center;
    font-size: 0.717em;
    padding: 2em 0 4em 0;
}