/*--------- CSS RESET ---------*/

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 70%;
    max-width: 620px;
    margin: auto; 
    background-color: #fafafa;
    color:#333;
    font-family: 'Literata', serif;
    font-family: 'Muli', sans-serif;
}

/*-----HEADING STYLING-----*/

h1, h2, h3 {
    
font-weight: normal;
color: #A3B2BD;
text-align: center;
font-family:'Montserrat', sans-serif
}

h1 {font-size: 2.827em;
    margin-top: 1.9em;
    margin-bottom: 0.1em;
    color: #272E41;
    letter-spacing: -0.03em;
    
}

h2 {font-size: 1.999em;
margin: 1em 0 1em 0;}

h3 {font-size: 1.414em;
margin-bottom: 1.5em;}

/*-----PARAGRAPH STYLING-----*/

p {
    font-family: 'Literata', serif;
}

p, blockquote {
    margin-bottom:1.5em;
    line-height: 1.4;
}

/*----LIST STYLING----*/
li {
    padding: 0.3em;
    text-align: left;
    font-family: 'Literata', serif;
    margin: 0.33em 0.5em 0.5em 1.5em;
}

/*-----BLOCKQUOTE STYLING-----*/

blockquote {
    font-size: 1.414em;
    hanging-punctuation: first;
    text-indent: -0.42em;
    color: #A3B2BD;
    font-family:'Montserrat', sans-serif;
}

cite {
    font-size: 0.9em;
     color: #A3B2BD;
    font-family:'Montserrat', sans-serif;
}

/*------LINK STYLING------*/

a{
    color: #A3B2BD;
    text-decoration: none;
}

a:hover {
    color:dimgrey;
    border-bottom: 1px dotted;
}

/*-----TABLE STYLING----*/
table{
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 100%;
}

caption{
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

th{
    color:#fafafa;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #272E41;
}

th, td{
    padding: 0.6em;
}

table, td{
    background: #A3B2BD;
    border: 1px solid #fafafa;
    color: #fafafa;
}
    
/*-----NAVIGATION----*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #E7EEF4;
    padding: 1em 0;
    font-size: 0.75em;
    opacity: 100%;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0em 0.05px 2px 0.1px;
    opacity: 95%;
}

/*------UL-NAV------*/

nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 17px;
}

        /*-----NAV TEXT STYLING-----*/
nav a {
    color: #272E41;
}

        /*-----NAV VISITED STYLING-----*/

nav a:visited {
    color: #272E41;
}

        /*-----NAV HOVER STYLING-----*/

nav a:hover {
    border-bottom: none;
    color:darkgrey;
}

/*------------- FOOTER -------------*/

footer {
    text-align: center;
    font-size: 0.717em;
    padding: 2em 0 4em 0;
}